@import url("./fonts/stylesheet.css");
@import url("./fonts/messyAmanda/stylesheet.css"); 

#terms .modal-content
{
  height:800px;
  overflow:auto;
}
.prueba1{
    align-items: center;
    background: url('../assets/images/Seccion1_06.jpg');
    background-attachment: fixed;  
    background-position: top; 
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
} 
.prueba2{
    align-items: center;
    background: url('../assets/images/Seccion1_01.jpg');
    background-attachment: fixed;  
    background-position: top; 
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
} 
.prueba3{
    align-items: center;
    background: url('../assets/images/Seccion1_02.jpg'); 
    background-attachment: fixed; 
    background-position: top; 
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
} 
.prueba4{
    align-items: center;
    background: url('../assets/images/Seccion1_03.jpg');
    background-attachment: fixed;  
    background-position: top; 
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
} 
.prueba5{
    align-items: center;
    background: url('../assets/images/Seccion1_04.jpg');
    background-attachment: fixed;  
    background-position: top; 
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}
div.container-fluid {
  height: 100%; }
  div.container-fluid section.fullHeightSection {
    min-height: 100%;
    position: relative;
    height: 100%; }
.fullHeightSection1{
   min-height: 100%;
    position: relative;
    height: 100%; 
} 
.yesMore{
    display: none; 
    height: auto; 
    width: auto;
}
.sectionTitle {
  margin: 0px; }

.sidebar {
  width: 14vw;
  z-index: 10;
  height: 100%;
  position: fixed;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35); }
  .sidebar div.sidebarHeader {
    text-align: right; }
    .sidebar div.sidebarHeader img {
      width: 100%; }
  .sidebar div#sidebar-div-menu {
    text-align: right;
    border-top: 2px solid #F4F4F4;
    border-bottom: 2PX solid #F4F4F4;
    width: 70%;
    float: right;
    padding: 30px 0px;
    margin-top: 20px;
    margin-bottom: 10px; }
    .sidebar div#sidebar-div-menu a {
      font-size: 1.5em;
      display: block;
      color: #F4F4F4;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 5px;
      text-decoration: none;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35); }
    .sidebar div#sidebar-div-menu a:hover {
      font-size: 1.6em; }
  .sidebar div#sidebar-div-social {
    float: right;
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-align: right; }
    .sidebar div#sidebar-div-social a {
      text-decoration: none; }
    .sidebar div#sidebar-div-social a img:hover {
      text-decoration: none;
      transform: scale(1.2, 1.2); }
  .sidebar div#sidebar-div-recomended {
    float: right;
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-align: right; }
    .sidebar div#sidebar-div-recomended a img:hover {
      text-decoration: none;
      transform: scale(1.1, 1.1); }

/*Main section*/
div.mainSection {
  height: 100%; }
  div.mainSection img.logoMain {
    position: absolute;
    width: 30%;
    top: 5%;
    right: 5%;
    z-index: 10; }
  div.mainSection div.slider {
    min-height: 100%; }
    div.mainSection div.slider div.carousel-inner {
      min-height: 100%; }
      div.mainSection div.slider div.carousel-inner div.item {
        min-height: 100%; }
        div.mainSection div.slider div.carousel-inner div.item img {
          min-height: 100%; }

/*Description section*/
section#descriptionSection {
  background-image: url("./../assets/images/Imagen02.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#descriptionSection div.description {
    min-height: 80%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%; }
    section#descriptionSection div.description div#descriptionContent {
      width: 50%; }
      section#descriptionSection div.description div#descriptionContent div#descriptionHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        section#descriptionSection div.description div#descriptionContent div#descriptionHeader img {
          width: 60%; }
      section#descriptionSection div.description div#descriptionContent div#descriptionBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        section#descriptionSection div.description div#descriptionContent div#descriptionBody img {
          width: 60%; }
        section#descriptionSection div.description div#descriptionContent div#descriptionBody p {
          text-align: center;
          color: #F4F4F4;
          font-family: Roboto;
          font-style: normal; }

/*Jungle Tour*/
section#jungleTourSection {
  height: 100%; }
  section#jungleTourSection div.jungleTour {
    height: 100%; }
    section#jungleTourSection div.jungleTour div#jungleTourRow {
      height: 100%; }
      section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo {
        padding: 0px;
        height: 100%;
        background-image: url("./../assets/images/JungleTour_02.jpg");
        background-repeat: no-repeat;
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
        section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo div#fondoVerde {
          height: 100%;
          background-color: rgba(101, 165, 9, 0.7); }
          section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo div#fondoVerde div#jungleTourInformation {
            height: 100%;
            padding-left: 15vw;
            padding-right: 1vw;
            padding-top: 5%; }
            section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo div#fondoVerde div#jungleTourInformation h1 {
              color: #F4F4F4; 
              text-shadow: 2px 2px 2px rgba(0,0,0,.2);} 
              section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo div#fondoVerde div#jungleTourInformation h1 u {
                display: block;
                color: #f96900; }
            section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo div#fondoVerde div#jungleTourInformation p {
              color: #F4F4F4;
              font-weight: bold;
              text-align: justify; }
      section#jungleTourSection div.jungleTour div#jungleTourRow div#colImage {
        padding: 0px;
        height: 100%;
        background-image: url("./../assets/images/JungleTour_01.jpg");
        background-repeat: no-repeat;
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }

/*Scuba DIve*/
section#scubaDiveSection {
  height: 100%; }
  section#scubaDiveSection div.scubaDive {
    height: 100%;
    background-image: url("./../assets/images/ScubaDive.jpg");
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    section#scubaDiveSection div.scubaDive div#scubaDiveRow {
      height: 100%; }
      section#scubaDiveSection div.scubaDive div#scubaDiveRow div#colInfo {
        padding: 0px;
        height: 100%; }
        section#scubaDiveSection div.scubaDive div#scubaDiveRow div#colInfo div#fondoAzul {
          height: 100%;
          background-color: rgba(0, 169, 207, 0.54); }
          section#scubaDiveSection div.scubaDive div#scubaDiveRow div#colInfo div#fondoAzul div#scubaDiveInformation {
            height: 100%;
            padding: 10%; }
            section#scubaDiveSection div.scubaDive div#scubaDiveRow div#colInfo div#fondoAzul div#scubaDiveInformation h1 {
              color: #F4F4F4; 
              text-shadow: 2px 2px 2px rgba(0,0,0,.2);}
              section#scubaDiveSection div.scubaDive div#scubaDiveRow div#colInfo div#fondoAzul div#scubaDiveInformation h1 u {
                display: block;
                color: #65A509; }
            section#scubaDiveSection div.scubaDive div#scubaDiveRow div#colInfo div#fondoAzul div#scubaDiveInformation p {
              color: #F4F4F4;
              font-weight: bold;
              text-align: justify; }

/*Mangrove Tour*/
section#mangroveTourSection {
  height: 100%; }
  section#mangroveTourSection div.mangroveTour {
    height: 100%; }
    section#mangroveTourSection div.mangroveTour div#mangroveTourRow {
      height: 100%; }
      section#mangroveTourSection div.mangroveTour div#mangroveTourRow div#colInfo {
        padding: 0px;
        height: 100%;
        background-image: url("./../assets/images/Mangroove_02.jpg");
        background-repeat: no-repeat;
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
        section#mangroveTourSection div.mangroveTour div#mangroveTourRow div#colInfo div#fondoVerde {
          height: 100%;
          background-color: rgba(101, 165, 9, 0.7); }
          section#mangroveTourSection div.mangroveTour div#mangroveTourRow div#colInfo div#fondoVerde div#mangroveTourInformation {
            height: 100%;
            padding-left: 15vw;
            padding-right: 1vw;
            padding-top: 10%; }
            section#mangroveTourSection div.mangroveTour div#mangroveTourRow div#colInfo div#fondoVerde div#mangroveTourInformation h1 {
              color: #F4F4F4;
              text-shadow: 2px 2px 2px rgba(0,0,0,.2);}
              section#mangroveTourSection div.mangroveTour div#mangroveTourRow div#colInfo div#fondoVerde div#mangroveTourInformation h1 u {
                color: #ED2A50;
                display: block; }
            section#mangroveTourSection div.mangroveTour div#mangroveTourRow div#colInfo div#fondoVerde div#mangroveTourInformation p {
              color: #F4F4F4;
              font-weight: bold;
              text-align: justify; }
      section#mangroveTourSection div.mangroveTour div#mangroveTourRow div#colImage {
        padding: 0px;
        height: 100%;
        background-image: url("./../assets/images/Mangroove_01.jpg");
        background-repeat: no-repeat;
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }

/*Coming Soon Section*/
section#comingSoonSection {
  height: 100%; }
  section#comingSoonSection div.comingSoon {
    height: 100%;
    background-image: url("./../assets/images/Fish.jpg");
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    section#comingSoonSection div.comingSoon div#comingSoonRow {
      height: 100%; }
      section#comingSoonSection div.comingSoon div#comingSoonRow div#colInfo {
        padding: 0px;
        height: 100%; }
        section#comingSoonSection div.comingSoon div#comingSoonRow div#colInfo div#fondoAzul {
          height: 100%;
          background-color: rgba(0, 169, 207, 0.54); }
          section#comingSoonSection div.comingSoon div#comingSoonRow div#colInfo div#fondoAzul div#comingSoonInformation {
            height: 100%;
            padding: 10%; }
            section#comingSoonSection div.comingSoon div#comingSoonRow div#colInfo div#fondoAzul div#comingSoonInformation h1 {
              color: #F4F4F4; 
              text-shadow: 2px 2px 2px rgba(0,0,0,.2);                 }
              section#comingSoonSection div.comingSoon div#comingSoonRow div#colInfo div#fondoAzul div#comingSoonInformation h1 u {
                display: block;
                color: #00A9CF; }
            section#comingSoonSection div.comingSoon div#comingSoonRow div#colInfo div#fondoAzul div#comingSoonInformation p {
              color: #F4F4F4;
              font-weight: bold;
              text-align: justify; }

/*Contact Section*/
section#contactSection {
  min-height: 100%;
  background-image: url("./../assets/images/Water.jpg");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section#contactSection div.contact {
    height: 100%;
    padding-top: 5%;
    padding-left: 15vw; }
    section#contactSection div.contact div#contactRow {
      padding: 0px;
      margin: 0px; }
      section#contactSection div.contact div#contactRow div#infoContact h1.sectionTitle {
        color: #F4F4F4; 
        text-shadow: 2px 2px 2px rgba(0,0,0,.2);}
        section#contactSection div.contact div#contactRow div#infoContact h1.sectionTitle u {
          color: #65A509;
          display: block; }
      section#contactSection div.contact div#contactRow div#infoContact div.contact-buttons {
        height: auto;
        width: 140px;
        border-radius: 3px;
        box-shadow: 0px 1px 10px 2px #58595b;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 20px 0px;
        padding: 0px;
        background: #FFFFFF; }
      section#contactSection div.contact div#contactRow div#infoContact div.contact-buttons i {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        text-align: center;
        background: #65A509;
        color: #FFFFFF;
        width: 30%;
        font-size: 2em;
        display: inline-block; }
      section#contactSection div.contact div#contactRow div#infoContact div.contact-buttons span {
        text-align: center;
        color: #58595B;
        font-size: 1em;
        width: 70%;
        display: inline-block; }
      section#contactSection div.contact div#contactRow div#infoContact div.contact-buttons-group {
        overflow: visible;
        height: auto;
        width: 70%;
        margin: 0px; }
      section#contactSection div.contact div#contactRow div#infoContact div.contact-buttons-group p {
        font-size: 1.5em;
        color: #FFFFFF;
        font-weight: bold; }
      section#contactSection div.contact div#contactRow div#formContact div.form-message {
        background-color: #F4F4F4;
        widows: 100%;
        margin: 10px 0px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center; }
        section#contactSection div.contact div#contactRow div#formContact div.form-message p {
          font-size: 12px;
          margin: 0px;
          padding: 0px; }
      section#contactSection div.contact div#contactRow div#formContact div.mailsend-info {
        display: none; }
      section#contactSection div.contact div#contactRow div#formContact button {
        background-color: transparent;
        color: #F4F4F4;
        font-weight: bold;
        padding: 10px 25px;
        border: 2px solid #F4F4F4;
        margin-bottom: 10%; }
      section#contactSection div.contact div#contactRow div#formContact form input {
        background-color: rgba(255, 255, 255, 0.8);
        color: #414042 !important;
        border-radius: 5px;
        margin-bottom: 10px;
        min-height: 30px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.49), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        font-weight: bold; }
      section#contactSection div.contact div#contactRow div#formContact form textarea {
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.8);
        color: #414042 !important;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.49), 0px 1px 1px 0px rgba(0, 0, 0, 0.2); }
      section#contactSection div.contact div#contactRow div#formContact form ::-webkit-input-placeholder {
        color: #007BA4 !important;
        font-weight: bold; }
      section#contactSection div.contact div#contactRow div#formContact form :moz-placeholder {
        color: #007BA4 !important;
        font-weight: bold; }
      section#contactSection div.contact div#contactRow div#formContact form ::moz-placeholder {
        color: #007BA4 !important;
        font-weight: bold; }
      section#contactSection div.contact div#contactRow div#formContact form :-ms-input-placeholder {
        color: #007BA4 !important;
        font-weight: bold; }
      section#contactSection div.contact div#contactRow div#formContact form button[type="submit"] {
        width: 80px;
        height: 174px;
        border-radius: 3px;
        margin: 0px 5px;
        background-color: rgba(101, 165, 9, 0.59);
        color: #FFFFFF;
        font-weight: bold;
        border: 1px solid;
        border-color: #65A509; }
      section#contactSection div.contact div#contactRow div#formContact form div.columna {
        height: 100%;
        margin: 0px !important;
        padding: 0px !important; }
      section#contactSection div.contact div#contactRow div#formContact div#map {
        width: 100%;
        margin: 10px 0px;
        padding: 0px; }

/*Footer*/
footer {
  min-height: 50px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #022c38;
  position: absolute;
  bottom: 0px;
  width: 100%; }
  footer p {
    color: #F4F4F4;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
    padding: 0px; }

/*Bootstrap*/
.carousel {
  height: 100% !important; }

.carousel-inner {
  height: 100% !important; }

.carousel-inner > .item {
  height: 100% !important; }

.carousel-inner > .item > img {
  height: 100% !important;
  width: 100%; }

a.moreInfoButton {
  position: absolute;
  bottom: 20%;
  background-color: transparent;
  color: #F4F4F4;
  border: 2px solid #F4F4F4;
  padding: 5px 25px;
  font-weight: bold;
  border-radius: 3px; }

button.bookNowButton {
  position: absolute;
  z-index: 20;
  bottom: 10%;
  right: 0px;
  padding: 10px 35px;
  font-size: 2em;
  font-weight: bold; }

div.success-send {
  border: 2px solid #65A509;
  border-radius: 5px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px 0px; }
  div.success-send p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #65A509; }

div.error-send {
  border: 2px solid #e74c3c;
  border-radius: 5px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px 0px; }
  div.error-send p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #e74c3c; }

button.orangeButton {
  background-color: #f96900;
  border: none;
  opacity: .7;
  color: #F4F4F4; }

button.greenButton {
  background-color: #65A509;
  border: none;
  opacity: .7;
  color: #F4F4F4; }

button.pinkButton {
  background-color: #ED2A50;
  border: none;
  opacity: .7;
  color: #F4F4F4; }

.nav {
  cursor: pointer; }

.pagination {
  cursor: pointer; }

.carousel {
  cursor: pointer; }

.panel-title {
  cursor: pointer; }

a {
  cursor: pointer; }

nav.navbar {
  position: fixed;
  z-index: 10;
  background: transparent;
  right: 10px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none; }
  nav.navbar div.container-fluid div.navbar-header button {
    border: 1px solid #F4F4F4; }
    nav.navbar div.container-fluid div.navbar-header button span.icon-bar {
      color: #F4F4F4 !important; }
  nav.navbar div.container-fluid div.collapse {
    background-color: rgba(0, 169, 207, 0.54) !important;
    text-align: center !important; }
    nav.navbar div.container-fluid div.collapse ul li {
      text-align: center !important; }
      nav.navbar div.container-fluid div.collapse ul li a {
        color: #FFFFFF;
        font-size: 1.5em;
        font-weight: bold; }

/*Booking section*/
span.bookintTicketsNumber {
  font-size: 1.5em;
  text-decoration: underline;
  text-decoration-color: #00A9CF;
  margin-left: 10px;
  margin-right: 10px; }

section#bookingSection {
  min-height: 100%;
  background-image: url("./../assets/images/Background_Booking.jpg");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 14vw; }
  section#bookingSection div.bookingView {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%; }
    section#bookingSection div.bookingView h1#bookineHeader {
      color: #00A9CF; }
      section#bookingSection div.bookingView h1#bookineHeader span {
        color: #FFF;
        text-decoration: underline;
        text-decoration-color: #00A9CF;
        font-weight: 700;
        font-size: 1em; }
    section#bookingSection div.bookingView p.bookingSectionSubtitle {
      background-color: #FFFFFF;
      color: #404142;
      font-size: 1em;
      font-weight: bold;
      padding: 4px 10px; }
    section#bookingSection div.bookingView .input-group-addon {
      font-size: .3em; }
    section#bookingSection div.bookingView button.bookingButtonContinue {
      background-color: #007CA6;
      color: #fff;
      width: 100%;
      margin-bottom: 10px; }
    section#bookingSection div.bookingView input.bookingInfoInput {
      border-radius: 0px;
      background: transparent;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 3px solid #007CA6;
      color: #000;
      font-weight: bold; }
    section#bookingSection div.bookingView input.bookingInfoInput::-webkit-input-placeholder {
      color: #000;
      font-weight: bold; }
    section#bookingSection div.bookingView label.bookingTerms {
      font-size: 1.5em;
      font-weight: bold; }
  section#bookingSection ul.nav.nav-tabs.nav-justified {
    background-color: #00a9cf;
    margin-bottom: 10px; }
    section#bookingSection ul.nav.nav-tabs.nav-justified li a {
      font-weight: bold;
      color: #ffffff;
      opacity: .6; }
    section#bookingSection ul.nav.nav-tabs.nav-justified li.active a {
      background: none;
      opacity: 1;
      border: none; }

div.pre-ticket {
  background-color: #FFFFFF;
  padding: 10px;
  min-height: 100px; }

div.ticket-checkout {
  background-color: #007CA6;
  padding: 10px;
  min-height: 100px;
  color: #FFFFFF;
  font-weight: bold; }

button.btn-circle {
  border-radius: 100%; }

.book-now-button-animation span {
  text-align: right;
  color: white;
  font-size: 1em;
  padding-right: 1em;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
.book-now-button-animation span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.book-now-button-animation:hover span {
  padding-right: 25px; }

.book-now-button-animation:hover span:after {
  opacity: 1;
  right: 0; }

/*# sourceMappingURL=main.css.map */
