@import url("./fonts/stylesheet.css");
@import url("./fonts/messyAmanda/stylesheet.css");
div.container-fluid {
  height: 100%; }
  div.container-fluid section.fullHeightSection {
    min-height: 100%; }

.sectionTitle {
  margin: 0px; }

.sidebar {
  width: 20vw;
  z-index: 10;
  height: 100%;
  position: fixed;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35); }
  .sidebar div.sidebarHeader {
    text-align: right; }
  .sidebar div#sidebar-div-menu {
    text-align: right;
    border-top: 2px solid #F4F4F4;
    border-bottom: 2PX solid #F4F4F4;
    width: 70%;
    float: right;
    padding: 30px 0px;
    margin-top: 20px;
    margin-bottom: 10px; }
    .sidebar div#sidebar-div-menu a {
      font-size: 1.5em;
      display: block;
      color: #F4F4F4;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 5px;
      text-decoration: none;
      text-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.35); }
    .sidebar div#sidebar-div-menu a:hover {
      font-size: 1.6em; }
  .sidebar div#sidebar-div-social {
    float: right;
    width: 70%;
    padding: 20px 0px 20px 0px;
    text-align: right; }
    .sidebar div#sidebar-div-social a {
      text-decoration: none; }
    .sidebar div#sidebar-div-social a img:hover {
      text-decoration: none;
      transform: scale(1.2, 1.2); }
  .sidebar div#sidebar-div-recomended {
    float: right;
    width: 70%;
    text-align: right; }
    .sidebar div#sidebar-div-recomended a img:hover {
      text-decoration: none;
      transform: scale(1.1, 1.1); }

/*Main section*/
div.mainSection {
  height: 100%; }
  div.mainSection img.logoMain {
    position: absolute;
    width: 30%;
    top: 5%;
    right: 5%;
    z-index: 10; }

/*Description section*/
section#descriptionSection {
  background-image: url("./../assets/images/Imagen02.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  section#descriptionSection div.description {
    min-height: 80%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%; }
    section#descriptionSection div.description div#descriptionContent {
      width: 50%; }
      section#descriptionSection div.description div#descriptionContent div#descriptionHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        section#descriptionSection div.description div#descriptionContent div#descriptionHeader img {
          width: 60%; }
      section#descriptionSection div.description div#descriptionContent div#descriptionBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        section#descriptionSection div.description div#descriptionContent div#descriptionBody img {
          width: 60%; }
        section#descriptionSection div.description div#descriptionContent div#descriptionBody p {
          text-align: center;
          color: #F4F4F4;
          font-family: Roboto;
          font-style: normal; }

/*Jungle Tour*/
section#jungleTourSection {
  height: 100%; }
  section#jungleTourSection div.jungleTour {
    height: 100%; }
    section#jungleTourSection div.jungleTour div#jungleTourRow {
      height: 100%; }
      section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo {
        padding: 0px;
        height: 100%;
        background-image: url("./../assets/images/JungleTour_02.jpg");
        background-repeat: no-repeat;
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
        section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo div#fondoVerde {
          height: 100%;
          background-color: rgba(101, 165, 9, 0.7); }
          section#jungleTourSection div.jungleTour div#jungleTourRow div#colInfo div#fondoVerde div#jungleTourInformation {
            height: 100%;
            padding-left: 21vw;
            padding-right: 1vw;
            padding-top: 10%; }
      section#jungleTourSection div.jungleTour div#jungleTourRow div#colImage {
        padding: 0px;
        height: 100%;
        background-image: url("./../assets/images/JungleTour_01.jpg");
        background-repeat: no-repeat;
        background-position: top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }

/*# sourceMappingURL=main.css.map */
