@media screen and (max-width: 359px) { 
    .scuba-act-button{
        top: 15.7em; 
        width: 50%;
    } 
    .jungle-act-button{
        top: 15.7em; 
        width: 50%;
    }  
    .mangrove-act-button{
        top: 15.7em; 
        width: 50%;
    } 
}
@media screen and (max-width: 374px) and (min-width:360px) { 
    .scuba-act-button{
        top: 19.7em; 
        width: 50%;
    }  
    .jungle-act-button{
        top: 19.7em; 
        width: 50%;
    } 
    .mangrove-act-button{
        top: 19.7em; 
        width: 50%;
    } 
} 
@media screen and (max-width: 425px) and (min-width:0px) {  
    /*SCUBA TOUR*/
    .scubaCarousel-1{
        background-image: url('../assets/images/tours/Movil_ScubaDive_Top_01.jpg'); 
    } 
    .scubaCarousel-2{
        background-image: url('../assets/images/tours/Movil_ScubaDive_Top_02.jpg'); 
    } 
    .scubaCarousel-3{
        background-image: url('../assets/images/tours/Movil_ScubaDive_Top_03.jpg'); 
    }
    .scubaCarousel-4{
        background-image: url('../assets/images/tours/Movil_ScubaDive_Top_04.jpg'); 
    } 
    .scubaCarousel-5{
        background-image: url('../assets/images/tours/Movil_ScubaDive_Top_05.jpg'); 
    } 
    /*MANGROVE TOUR*/ 
    .mangroveCarousel-1{
        background-image: url('../assets/images/tours/Movil_MPE_MT_Top_01.jpg'); 
    } 
    .mangroveCarousel-2{
        background-image: url('../assets/images/tours/Movil_MPE_MT_Top_02.jpg'); 
    } 
    .mangroveCarousel-3{
        background-image: url('../assets/images/tours/Movil_MPE_MT_Top_03.jpg'); 
    } 
    /*JUNGLE TOUR*/ 
    .jungleCarousel-1{
        background-image: url('../assets/images/tours/Movil_JungleTour_Top_01.jpg'); 
    } 
    .jungleCarousel-2{
        background-image: url('../assets/images/tours/Movil_JungleTour_Top_02.jpg'); 
    }
    .jungleCarousel-3{
        background-image: url('../assets/images/tours/Movil_JungleTour_Top_03.jpg'); 
    } 
}
@media screen and (max-width: 425px) {  
    .title-act{
        font-size: 3em;
    } 
    .logo-act{
        width: 274px;
    }
    
} 
@media screen and (max-width: 450px) and (min-width:375px){
    .scuba-act-button{
        top: 15em; 
        width: 50%;
    } 
    .mangrove-act-button{
        top: 15em; 
        width: 50%;
    }  
    .jungle-act-button{
        top: 15em; 
        width: 50%;
    } 
}
@media screen and (max-width: 1000px){
    /*TOURS*/
    .tour-soon{
        bottom: 144vw;
        height: auto;
        left: 1vw;
        opacity: 1.6;
        position: absolute;
        width: 99%;
    }   
    .r-aux{
        margin-top: 7.5em;
    }
    /*SCUBA*/  
    section[name="scuba-act-body"] {
        height: 200%;
    }
    
    .cuadro-scuba{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0;
    }  
  
    .nav-first-title2{
        display: block;
    } 
    .nav-experienced-title2{
        display: block;
    }
    .nav-non-title2{
        display: block;
    } 
    /*JUNGLE*/ 
    .cuadro-jungle{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0;
    } 
    .nav-jungle-titleGreen{ 
        display: block; 
        font-family: 'Roboto Cn';
        padding-left: .2em; 
        padding-top: .4em;
    }  
    section[name="jungle-act-body"] {
        height: 200%;
    }
    
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0;
    } 
    .nav-mangrove-titleGreen{
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }  
    section[name="mangrove-act-body"] {
        height: 200%;
    } 
    /*Discounts*/ 
    .logo-dis{
        width: 345px;  
    } 
    .title-dis{
        font-size: 4em; 
    } 
    .discount-info{
        float: left;
        width: 100%; 
    } 
    .promotion-stamp{
        left: 11vw;
        width: 19em;
    } 
    .promotion-text-container{ 
        padding: 10%; 
        position: absolute; 
        top:47vw;
    } 
    .promotion-title{
        padding: 0; 
    } 
    .promotion-info{
        padding: 0;
    }
}  

@media screen and (max-width: 1000px) and (min-width:768px)
{
    .scuba-act-button{
        top: 12em; 
    } 
    .mangrove-act-button{
        top: 12em; 
    } 
    .jungle-act-button{
        top: 12em; 
    }
}
@media screen and (max-width: 767px) and (min-width: 451px ){
    /*TOURS*/
    .tour-soon{ 
        bottom: 144vw;
        height: auto;
        left: 1vw;
        opacity: 1.6;
        position: absolute;
        width: 99%;    
    }
    /*SCUBA*/
    .cuadro-scuba{
        width: 200%; 
    }  
    section[name="scuba-act-body"] {
        height: 350%;
    } 
    .scuba-act-button{
        top: 9em; 
    }
    /*JUNGLE*/
    section[name="jungle-act-body"] {
        height: 350%;
    }
    .cuadro-jungle{
        width: 200%; 
    }
    .jungle-act-button{
        top: 9em; 
    }
    /*MANGROVE*/ 
    section[name="mangrove-act-body"] {
        height: 350%;
    } 
    .cuadro-mangrove{
        width: 200%; 
    } 
    .nav-jungle-titleGreen{
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }   
    .mangrove-act-button{
        top: 9em; 
    } 

    
} 

@media screen and (max-width: 1024px) and (min-width: 781px ) {
    /*SCUBA*/
    .cuadro-scuba{
        
        width: 157%; 
    } 
    /*JUNGLE*/
    .cuadro-jungle{
        width: 155%; 
    } 
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 155%; 
    } 
    .discount-info{
        width: 32%;
    } 
 
}  

@media screen and (max-width: 1280px) and (min-width: 1025px ) {

    .discount-info{
        width: 28%;
    } 
    
}