@media screen and (max-width: 375px) { 
      .scuba-act-button{
        top: 20.7em; 
        width: 50%;
    }  
}
@media screen and (max-width: 412px) { 
    
    .title-act{
        font-size: 3em;
    } 
    .logo-act{
        width: 274px;
    }
    
}
@media screen and (max-width: 450px){
    /*HOME*/
    div#descriptionContent{
        width: 100%;
    }
    /*TOURS*/
    .tour-soon{
        position: absolute;
        bottom: 144vw;
        left: 1vw;
        width: 99%;
        height: auto;
        opacity: 1.6;
    }   
    .r-aux{
        margin-top: 7.5em;
    }
    /*SCUBA*/  
    section[name="scuba-act-body"] {
        height: 170%;
    }
    
    .cuadro-scuba{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0em;
    }  
    .scuba-act-button{
        top: 15.7em; 
        width: 50%;
    }  
    .nav-first-title2{
        display: block;
    } 
    .nav-experienced-title2{
        display: block;
    }
    .nav-non-title2{
        display: block;
    }
    /*JUNGLE*/ 
    .cuadro-jungle{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0em;
    } 
    .nav-jungle-titleGreen{ 
        font-family: 'Roboto Cn';
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }  
    
    section[name="jungle-act-body"] {
        height: 170%;
    }
    
    .jungle-act-button{
        top: 15.7em; 
        width: 50%;
    } 
    
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0em;
    } 
    .nav-mangrove-titleGreen{
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }  
    
    section[name="mangrove-act-body"] {
        height: 170%;
    }
    
    .mangrove-act-button{
        top: 15.7em; 
        width: 50%;
    } 
} 

@media screen and (max-width: 780px) and (min-width: 451px ){
    /*TOURS*/
    .tour-soon{
        position: absolute;
        bottom: 144vw;
        left: 1vw;
        width: 99%;
        height: auto;
        opacity: 1.6;
    }
    /*SCUBA*/
    .cuadro-scuba{
        width: 200%; 
    } 
    .scuba-act-button{
        top: 62.7em; 
        width: 30%;
    } 
    section[name="scuba-act-body"] {
        height: 143%;
    }
    /*JUNGLE*/
    .cuadro-jungle{
        width: 200%; 
    } 
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 200%; 
    } 
    .nav-jungle-titleGreen{
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }  

    
} 

@media screen and (max-width: 1024px) and (min-width: 781px ) {
    /*SCUBA*/
    .cuadro-scuba{
        
        width: 157%; 
    } 
    /*JUNGLE*/
    .cuadro-jungle{
        width: 155%; 
    } 
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 155%; 
    } 
    .discount-info{
        width: 32%;
    } 
 
}  

@media screen and (max-width: 1280px) and (min-width: 1025px ) {

    .discount-info{
        width: 28%;
    } 
    
}