@media screen and (max-widht: 990px) 
{
    .be{ 
        top:4em;
        left:27em;
    }
} 

@media screen and (max-width: 450px)
{   
    /*SCUBA*/ 
    .cuadro-scuba{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0em;
    }  
    
    section[name="scuba-act-body"] {
        height: 143%;
    }
    
    .scuba-act-button{
        top: 52.7em; 
        width: 50%;
    } 
    /*JUNGLE*/ 
    .cuadro-jungle{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0em;
    } 
    .nav-jungle-titleGreen{
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }  
    
    section[name="jungle-act-body"] {
        height: 130%;
    }
    
    .jungle-act-button{
        top: 52.7em; 
        width: 50%;
    } 
    
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 200%; 
    }  
    .act-title{
        padding-left: .2em;
    } 
    .act-nav{
        padding-left: 0em;
    } 
    .nav-mangrove-titleGreen{
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }  
    
    section[name="mangrove-act-body"] {
        height: 130%;
    }
    
    .mangrove-act-button{
        top: 52.7em; 
        width: 50%;
    } 
    .logo-dis{
        width: 360px;
    }
    .title-dis{
        font-size: 5em; 
    }
    .discount-info{
        width: 100%; 
        float:left; 
    } 
    .discount-button{
        top:46.7em; 
    } 
    .promotion-stamp{
        left:4vw; 
        top:10vw;
    } 
    .promotion-text-container {
        padding-top: 23em; 
        padding-left: 0vw;
    }
} 

@media screen and (max-width: 780px) and (min-width: 451px ){
    /*SCUBA*/
    .cuadro-scuba{
        width: 200%; 
    } 
    .scuba-act-button{
        top: 62.7em; 
        width: 30%;
    } 
    section[name="scuba-act-body"] {
        height: 143%;
    }
    /*JUNGLE*/
    .cuadro-jungle{
        width: 200%; 
    } 
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 200%; 
    } 
    .nav-jungle-titleGreen{
        display: block; 
        padding-left: .2em; 
        padding-top: .4em;
    }  
    .discount-info{
        width: 100%; 
        float:left; 
    } 
    .discount-button{
        top:59.7em; 
    } 
    .promotion-stamp{
        left:28vw;  
    } 
    .promotion-text-container {
        padding-top: 20em; 
        padding-left: 16vw;
    }
    
} 

@media screen and (max-width: 1024px) and (min-width: 781px ) {
    /*SCUBA*/
    .cuadro-scuba{
        
        width: 157%; 
    } 
    /*JUNGLE*/
    .cuadro-jungle{
        width: 155%; 
    } 
    /*MANGROVE*/ 
    .cuadro-mangrove{
        width: 155%; 
    } 
    .discount-info{
        width: 32%;
    } 
    .discount-button{
        top:60.7em;
    } 
}  

@media screen and (max-width: 1280px) and (min-width: 1025px ) {
        .discount-button{
        top:50.7em;
    }
}

@media screen and (max-width: 1441px) and (min-width: 1025px ) {
    .discount-info{
        width: 28%;
    } 
}