/*
*   Author: Alejandro Alamina
*   Mail: alejandroalamina@gmail.com
*   Date: Sep 16, 2016
*/

/*BEGIN PICK TOUR SECTION*/
section[name="scuba-dive"]{
    height: 100%;
}  
.scuba-dive{ 
    align-items: center; 
    background: url('./../assets/images/tours/B.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}
.scuba-dive:hover {
    cursor: pointer; 
    opacity: .3;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.scuba{  
    background:green;
    background: rgba(101, 165, 9, .80);
    bottom: -0.05em;
}
.two-body{
    margin-left: 0; 
    margin-right: 0; 
    padding-left: 0; 
    padding-right: 0;
} 
.nepe:hover{
    
    cursor: pointer; 
    opacity: .5; 
    transition: opacity .5s;
    -webkit-transition: opacity .5s; 
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.image{
    position: relative; 
}
.title {
    color: white;  
    margin-bottom: 0;
    position: absolute; 
    text-align: right;
    width: 100%; 
}

.mangrove{ 
    background: red;
    background: rgba(237, 42, 80, .80); 
    bottom: -0.05em;
} 

.jungle{ 
    background: red;
    background: rgba(246, 144, 0, .80); 
    bottom: 0;
} 

.boat{
    background: #58595B; 
    bottom: 0;
} 

.aquabus{
    background: #58595B;
    bottom: -0.06em;
} 

section[name="coming"]
{
    cursor:not-allowed;
    position: relative; 
} 

.layer {
    background: black;
    background: rgba(0, 0, 0, 0.4);
    height: 100%; 
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
} 
.be{  
    color:white;
    left: 43em; 
    opacity: .5; 
    position: absolute; 
    top:1em;
}  
.tour-soon{ 
    bottom: 15vw; 
    height: auto;
    left: 25vw;   
    opacity: .6;
    position:absolute;
    width: 70%;
}

/*END PICK TOUR SECTION*/ 

/*BEGIN SCUBA ACTIVITIE*/
    /*Begin Scuba Activitie*/ 
section[name="scuba-act-intro"]{ 
    height: 100%;
    position: relative;
}   

.scubaCarousel-1{
    align-items: center; 
    background: url('../assets/images/tours/ScubaDive_Top_01.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex; 
    height: 100%;
    justify-content: center;
} 
.scubaCarousel-2{
    align-items: center; 
    background: url('../assets/images/tours/ScubaDive_Top_02.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex; 
    height: 100%;
    justify-content: center;
}
.scubaCarousel-3{
    align-items: center; 
    background: url('../assets/images/tours/ScubaDive_Top_03.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex; 
    height: 100%;
    justify-content: center;
}
.scubaCarousel-4{
    align-items: center; 
    background: url('../assets/images/tours/ScubaDive_Top_04.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex; 
    height: 100%;
    justify-content: center;
}
.scubaCarousel-5{
    align-items: center; 
    background: url('../assets/images/tours/ScubaDive_Top_05.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex; 
    height: 100%;
    justify-content: center;
}
.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    max-height: 100%; 
    max-width: 100%;
    overflow: hidden;
}

.carousel-inner .item img {
    max-height: none;
    min-height: 100%;
    width: 100%;
}

.triangulo{ 
    bottom: .2em;
    position: absolute;
    right: 0;
    
} 
.logo-act{ 
    bottom: 6.5em;
    height: auto;
    position: absolute;
    right: .3em;
    width:  340px; 
} 

.title-act{ 
    bottom: .2em;
    color:white;
    position: absolute;
    right: .3em; 
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
} 
.title2-act{ 
    color: #65A509;  
    font-size: 1em;
    font-weight: 700;
}

section[name="scuba-act-intro"] .underline { 
    font-size: 1em;
    font-weight: 700;
    text-decoration: underline #65A509; 
} 
    /*End Scuba Activitie INTRO*/
    
    /*Begin Scuba Activitie BODY*/

section[name="scuba-act-body"]{ 
    align-items: center;
    background: url('../assets/images/tours/ScubaDive_Content.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;  
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;  
    position: relative;
}  

.scuba-act{
    height: 100%; 
    padding-left: 0; 
    padding-right: 0;
    width: 100%;
}

.scuba-info{ 
    height: 100%; 
    width: 50%;
}

.cuadro-scuba 
{   
    background: blue;
    background: rgba(0,123,164, .80);
    float: left;
    height: 100%;
    padding-top: 0;
    width: 111%;
}  

.act-title{
    color: white; 
    margin-bottom: .5em; 
    padding-left: 15vw; 
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
} 
.act-title-scuba{
    color: #65A509;  
    font-size: 1em;
    font-weight: 700;
} 

.act-nav{ 
    padding-left: 15vw;
} 

.nav-noactive{
    border-top: 1px;
    border-top: white;
    color: white;   
    font-size: 1.08em;
    font-weight: 700;
}
/*Description*/
.nav-description-p{
    color: white; 
    font-weight: 300; 
    margin-top: 1em;
} 

.fa-calendar{
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em; 
} 

.fa-clock-o{
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em; 
} 

.fa-hourglass-end {
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em; 
} 

.icon-text{
    color: white;
    display: inline-block; 
    margin-left: .6em;
}  
.icon-text-1{
    color: white;
    display: flex; 
    margin-left: 4em; 
    margin-top: .1em;
}
/*Include*/
.nav-included-title { 
    color: white; 
    font-weight: 700;
    margin-left: 1.5em;
    margin-top: 2em;     
} 
.panel1{
    border-right: 1px solid white; 

} 
.fa-globe{
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em;  
}

.fa-lock{
    color: white; 
    font-size: 2.9em; 
    margin-bottom: .3em;  
    margin-left: 1em;
    margin-top: .3em; 
} 

.icon-img{
    margin-bottom: .8em;  
    margin-left: 3.5em;
    margin-top: 2em;  
} 

.icon-img-snorkel{
    margin-bottom: .8em;  
    margin-left: 2.5em;
    margin-top: 2em;  
} 

.icon-img-compres{
    margin-bottom: .8em;  
    margin-left: 2.5em; 
    margin-top: -2em;  
}

.fa-cutlery{
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em; 
} 

.fa-money{
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em; 
    margin-top: .3em; 
} 

.fa-camera{
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em;   
}  

.fa-sticky-note-o{
    color: white; 
    font-size: 2.8em; 
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em; 
}
/*First Time Divers*/
.nav-first-title{
    color:white; 
    font-size: 2em;
    font-weight: 700; 
    margin-top: 2em; 
} 
.nav-first-title2{ 
    color: #BFBA13;
    font-family: 'Roboto Cn'; 
    font-weight: 700;
} 

.nav-first-p{
   color:white; 
} 
.fa-long-arrow-down{
    color: white; 
    font-size: 2.8em;
    margin-bottom: .3em; 
    margin-left: 1em;
    margin-top: .3em; 
}

/*Experienced*/
.nav-experienced-title{
    color:white; 
    font-size: 2em;
    font-weight: 700; 
    margin-top: 2em;    
} 
.nav-experienced-title2{
    color: #BFBA13; 
    font-weight: 700;
} 
.nav-experienced-p{
    color:white;
}
/*Non Diver*/
.nav-non-title{
    color:white; 
    font-size: 2em;
    font-weight: 700; 
    margin-top: 2em; 
} 

.nav-non-title2{
    color: #BFBA13; 
    font-weight: 700;
} 

.nav-non-p{
    color:white;
}  

/*BOOK NOW*/ 
.scuba-act-button{   
    background: green;
    background: rgba(101,165,9, .70);
    border: none;
    height: 80px;
    position: absolute; 
    right: 0;
    top: 8.7em; 
    width: 225px;
} 
.scuba-act-button span{ 
    color: white;
    display: inline-block;
    font-size: 2em; 
    font-weight: 500; 
    padding-right: 1em; 
    position: relative;
    text-align: right;
    transition: 0.5s;
}  

.scuba-act-button span:after {
    content: '\00bb';
    opacity: 0;
    position: absolute; 
    right: -20px;
    top: 0;
    transition: 0.5s;
}

.scuba-act-button:hover span {
  padding-right: 25px;
}

.scuba-act-button:hover span:after {
  opacity: 1;
  right: 0;
}
/*END SCUBA ACTIVITIE*/ 

/*BEGIN MANGROVE ACTIVITIE*/ 
    /*Begin MAngrove Activitie INTRO*/
section[name="mangrove-act-intro"]{
    height: 100%;
    position: relative;
} 
.mangroveCarousel-1{ 
    align-items: center;
    background: url('../assets/images/tours/MPE_MT_Top_01.jpg'); 
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}
.mangroveCarousel-2{
    align-items: center;
    background: url('../assets/images/tours/MPE_MT_Top_02.jpg'); 
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}
.mangroveCarousel-3{
    align-items: center;
    background: url('../assets/images/tours/MPE_MT_Top_03.jpg'); 
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}
.title3-act{ 
    color: #ED2A50; 
    font-size: 1em;
    font-weight: 700; 
}

section[name="mangrove-act-intro"] .underline {
    font-size: 1em;
    font-weight: 700; 
    text-decoration: underline #ED2A50;
}  

section[name="mangrove-act-body"]{ 
    align-items: center;
    background-attachment: fixed;
    background-image: url('../assets/images/tours/MPE_MT_Content.jpg'); 
    background-position: top; 
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;  
    position: relative;
}  
.cuadro-mangrove 
{
    background: green;
    background: rgba(3,130,61, .70); 
    float: left;
    height: 100%;
    padding-top: 0;
    width: 111%;
}  


.act-title-mangrove{
    color: #ED2A50; 
    font-size: 1em;
    font-weight: 700;
} 

.nav-mangrove-title{
    color:#ED2A50; 
    font-size: 2em;
    font-weight: 700; 
    margin-top: 2em;     
}

.icon-underText{
    color: white; 
    font-size: .8em; 
    font-weight: 100;
    width: 70%
} 
.nav-aux{ 
    margin-top: 0; 
    padding-left: 6em;
    padding-top: 0;
} 
.aux {
    margin-bottom: 0; 
    padding-bottom: 0;
} 
.icon-text-speed{
    color: white;
    display: inline-block;
    margin-bottom: 0;
    margin-left: .6em; 
} 

.mangrove-act-button{ 
    background: #ED2A50;
    border: none; 
    height: 80px;
    position: absolute;
    right: 0;
    top: 8.7em;
    width: 225px;
} 
.mangrove-act-button span{ 
    color: white;
    display: inline-block;
    font-size: 2em;
    font-weight: 500;  
    padding-right: 1em; 
    position: relative;
    text-align: right;
    transition: 0.5s;
}  

.mangrove-act-button span:after {
    content: '\00bb'; 
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    transition: 0.5s;
}

.mangrove-act-button:hover span {
  padding-right: 25px;
}

.mangrove-act-button:hover span:after {
  opacity: 1;
  right: 0;
}

/*END MANGROVE ACTIVITIE*/ 

/*BEGIN JUNGLE ACTIVITIE*/
section[name="jungle-act-intro"]{ 
    height: 100%;
    position: relative;
}  

.jungleCarousel-1{
    align-items: center;
    background: url('../assets/images/tours/JungleTour_Top_01.jpg'); 
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
} 
.jungleCarousel-2{
    align-items: center;
    background: url('../assets/images/tours/JungleTour_Top_02.jpg'); 
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
} 
.jungleCarousel-3{
    align-items: center;
    background: url('../assets/images/tours/JungleTour_Top_03.jpg'); 
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}
 
.title4-act{ 
    color: #F96900; 
    font-size: 1em;
    font-weight: 700; 
}

section[name="jungle-act-intro"] .underline {
    font-size: 1em;
    font-weight: 700; 
    text-decoration: underline #F96900;
}  

section[name="jungle-act-body"]{ 
    align-items: center;
    background: url('../assets/images/tours/JungleTour_Content.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;  
    position: relative;
}  
.cuadro-jungle {   
    background: green;
    background: rgba(101,165,9, .70);
    float: left;
    height: 100%; 
    padding-top: 0;
    width: 111%;
}  


.act-title-jungle{
    color: #F96900; 
    font-size: 1em;
    font-weight: 700; 
} 

.nav-jungle-title{
    color:#F96900; 
    font-size: 2em;
    font-weight: 700;
    margin-top: 2em;     
}
.nav-jungle-titleGreen { 
    color: #BFBA13; 
    font-family: 'Roboto Cn';
    font-weight: 700; 
    padding-left: 1.8em;
} 
.icon-underText{
    color: white;
    font-size: .8em;
    font-weight: 100;  
    width: 70%
} 
.nav-aux{ 
    margin-top: 0; 
    padding-left: 6em;
    padding-top: 0;
} 
.aux {
    margin-bottom: 0; 
    padding-bottom: 0;
} 
.icon-text-speed{
    color: white; 
    display: inline-block;
    margin-bottom: 0;
    margin-left: .6em; 
} 

.jungle-act-button{  
    background: #f96900;
    border: none;
    height: 80px;
    position: absolute; 
    right: 0;
    top: 8.7em; 
    width: 225px;
} 
.jungle-act-button span{ 
    color: white;
    display: inline-block;
    font-size: 2em;
    font-weight: 500;  
    padding-right: 1em; 
    position: relative;
    text-align: right;
    transition: 0.5s;
}  

.jungle-act-button span:after {
    content: '\00bb';
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    transition: 0.5s;
}

.jungle-act-button:hover span {
  padding-right: 25px;
}

.jungle-act-button:hover span:after {
  opacity: 1;
  right: 0;
}
/**/

/*BEGIN DISCOUNTS*/  
section[name="discount-intro"]{
    align-items: center;
    background: url('../assets/images/discount/discounts.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center; 
    position: relative;
} 

.logo-dis{ 
    bottom: 7.5em;
    height: auto;
    position: absolute;
    right: .3em; 
    width:  460px; 
}  

.title-dis{
    bottom: .2em; 
    color:white; 
    font-size: 6em;
    position: absolute; 
    right: .3em;  
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
} 

.title2-dis{
    color: #65A509; 
    font-size: 1em;
    font-weight: 700;    
}
section[name="discount-intro"] .underline{
    font-size: 1em; 
    font-weight: 700; 
    text-decoration: underline #65A509;
    
} 
section[name="discount-body"] {
    align-items: center;
    background: url('../assets/images/discount/discounts-content.jpg');
    background-attachment: fixed; 
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative; 
} 
.discount-b{
    height: 100%; 
    padding-left: 0; 
    padding-right: 0;
    width: 100%;
} 
.promotion-stamp{ 
    height: auto;
    left: 15vw;  
    position: absolute; 
    top: 1em;
    width: 30em; 
}

.discount-info{
    float: right;
    height: 100%; 
    width: 20%;  
} 
.cuadro-discount{
    background: blue;
    background: rgba(0,123,163,.60);
    height: 100%;
    padding-top: 0;
    width: 100%; 
}  
.promotion-title{ 
    color: white; 
    font-size: 4em; 
    font-weight: 700;
    margin-top: 0;
    padding-left: .5em; 
    padding-top: 1em;  
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
} 
.promotion-title span{
    color:#f96900;
    font-size: 1em; 
    font-weight: 700;  
} 
.promotion-info{ 
    color:white; 
    font-weight: 700;
    padding-left: 1em; 
    padding-top: 1em;
}
.discount-button{ 
    background: #f96900;
    border: none;
    bottom: 3vw; 
    height: 5em;
    position: absolute;
    right: 0;
    width: 20em;
    
} 
.discount-button span{ 
    color: white;
    display: inline-block;
    font-size: 2em; 
    font-weight: 500;  
    padding-right: 1em; 
    position: relative; 
    text-align: right;
    transition: 0.5s;
}  

.discount-button span:after {
    content: '\00bb';
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    transition: 0.5s;
}

.discount-button:hover span {
  padding-right: 25px;
}

.discount-button:hover span:after {
  opacity: 1;
  right: 0;
}

/*END DISCOUNTS*/
 
