<div class="container-fluid">
    <section id="bookingSection" class="fullHeightSection">
        <div class="bookingView">
            <div class="row" id="bookingRow">
                <div class="col-xs-12 col-md-4 col-md-offset-8">
                    <h1>
                        <u>BOOK</u>ING</h1>

                </div>
                <div class="col-xs-12 col-md-8" id="bookingSteps">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active" disabled>
                                <a data-target="#schedule" aria-controls="home" role="tab" data-toggle="tab">SCHEDULE</a>
                            </li>
                            <li role="presentation">
                                <a data-target="#info" aria-controls="profile" role="tab" data-toggle="tab">INFO</a>
                            </li>
                            <li role="presentation">
                                <a data-target="#terms" aria-controls="messages" role="tab" data-toggle="tab">TERMS</a>
                            </li>
                            <li role="presentation">
                                <a data-target="#extras" aria-controls="settings" role="tab" data-toggle="tab">EXTRAS</a>
                            </li>
                            <li role="presentation">
                                <a data-target="#checkout" aria-controls="settings" role="tab" data-toggle="tab">CHECKOUT</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="schedule">
                                <div class="form-group">
                                    <select name="activitySelect" id="activitySelect" class="form-control" ng-model="booking.activity" ng-options="tour as tour.nombre for tour in toursList"
                                        ng-change="selectTimes(booking.activity)">
                                        <option value="" disabled>Activity</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p>DATE</p>
                                    <div class="input-group date" data-provide="datepickerBooking">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepickerBooking" placeholder="Fecha" ng-model="booking.date">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="availableTime">
                                    <p>TIME</p>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="booking.time" value="1"> {{booking.activity.hora1}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="booking.time" value="2"> {{booking.activity.hora2}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="booking.time" value="4"> {{booking.activity.hora3}}
                                    </label>

                                </div>
                                <button type="button" class="btn btn-default" ng-click="checkAvailability()" ng-disabled="bookingTabs.schedule">CONTINUE</button>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="info">
                                <div ng-if="bookingData.precios && !bookingTabs.schedule">
                                    <p>TICKETS</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-sm" ng-click="booking.adult = booking.adult - 1">-</button>
                                                <span class="bookintTicketsNumber" ng-model="booking.adult" ng-bind="booking.adult"></span>
                                                <button class="btn btn-primary btn-sm" ng-click="booking.adult = booking.adult + 1">+</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="">Adult</label>
                                                        <p>{{bookingData.precios.precioAdulto | currency}} EACH</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <p>12 - 65 years</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-sm" ng-click="booking.child = booking.child - 1">-</button>
                                                <span class="bookintTicketsNumber" ng-model="booking.child" ng-bind="booking.child"></span>
                                                <button class="btn btn-primary btn-sm" ng-click="booking.child = booking.child + 1">+</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-gro">
                                                        <label for="">Child</label>
                                                        <p> {{bookingData.precios.precioNino | currency}} EACH</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <p>5 - 11 years</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-sm" ng-click="booking.infant = booking.infant - 1">-</button>
                                                <span class="bookintTicketsNumber" ng-model="booking.infant" ng-bind="booking.infant"></span>
                                                <button class="btn btn-primary btn-sm" ng-click="booking.infant = booking.infant + 1">+</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="">Infant</label>
                                                        <p> {{bookingData.precios.precioInfante | currency}} EACH </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <p>Up to 5 years</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p>CONTACT INFO</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <input type="text" class="form-control" ng-model="booking.Info.nombre" placeholder="First name">
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <input type="text" class="form-control" ng-model="booking.Info.apellido" placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <input type="text" class="form-control" ng-model="booking.Info.telefono" placeholder="Phone number">
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <input type="email" class="form-control" ng-model="booking.Info.correo" placeholder="Email">
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-default" ng-disabled="bookingTabs.info">CONTINUE</button>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="terms">
                                <p>TERMS & CONDITIONS</p>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="booking.aceptDockFee">I agree to pay an aditional $10.00 USD per person dock fee directly at Marina Punta
                                        del Este</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="booking.aceptTerms">I agree to Marina Punta del Este
                                        <a href="">Terms of Service</a>
                                    </label>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="extras">
                                <p>EXTRAS</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" ng-click="booking.Extras.wetsuit = booking.Extras.wetsuit - 1">-</button>
                                            <span class="bookintTicketsNumber" ng-model="booking.Extras.wetsuit" ng-bind="booking.Extras.wetsuit"></span>
                                            <button class="btn btn-primary btn-sm" ng-click="booking.Extras.wetsuit = booking.Extras.wetsuit + 1">+</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="">Wetsuit</label>
                                                    <p>$10.00 EACH</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" ng-click="booking.Extras.mask = booking.Extras.mask - 1">-</button>
                                            <span class="bookintTicketsNumber" ng-model="booking.Extras.mask" ng-bind="booking.Extras.mask"></span>
                                            <button class="btn btn-primary btn-sm" ng-click="booking.Extras.mask = booking.Extras.mask + 1">+</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="">Prescription Mask</label>
                                                    <p>$10.00 EACH</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="checkout">
                                <div id="paypal-button"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>