<!DOCTYPE>
<html>
    
<head>
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Buceo y esnórquel, Tours privados, Tours, Actividades al aire libre, Tours en barco y deportes acuáticos.">
    <meta name="keywords" content="Marina Punta del Este, Cancun, Buceo, Esnorquel, Tours, Actividades al aire libre, deportes, vacaciones, puente, scuba-dive,Tours">
    <meta name=”robots” content="Index, Follow">
    <meta name="Author" content="Alejandro Alamina , Alejandro Medina"> 
    <title>Marina Punta del Este</title>

    <link rel="icon" type="img/png" href="./assets/images/MPE_Logo_Mini.png">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/standars.css">
    <link rel="stylesheet" href="./css/main.css"> 
    <link rel="stylesheet" href="./css/stick.css"> 
    <link rel="stylesheet" href="./css/r_stick.css">
    <link rel="stylesheet" media="screen" href="./css/responsive.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
    
<body>
      <div class="sidebar animated fadeInLeft">
        <div class="sidebar-menu-header">
            <img src="./assets/images/MPE_Logo_Menu.png" alt="Marina Punta del Este">
            <div id="sidebar-div-menu">
                <a data-scroll='' href="#home">HOME</a>
                <a data-scroll='' href="#tours-activities">TOURS & ACTIVITIES</a>
                <a>BOOKING</a>
                <a>DISCOUNTS</a>
                <a data-scroll='' href="#contact">CONTACT</a>
            </div>
            <div id="sidebar-div-social">
                <a href="">
                    <img src="assets/images/Btn_Info.png" alt="Info">
                </a>
                <a href="">
                    <img src="assets/images/Btn_Facebook.png" alt="Facebook">
                </a>
                <a href="">
                    <img src="assets/images/Btn_Instagram.png" alt="Instagram">
                </a>
            </div>
            <div id="sidebar-div-recomended">
                <a href="">
                    <img src="assets/images/Recomemended-on-TripAdvisor.png" alt="Recomended on TripAdvisor">    
                </a>
            </div>
        </div>
    </div> 
    <section name="jungle-act-intro">
        <div class="container-fluid">
            <img class=" triangulo
                    " src="assets/images/tours/T.png"> 
            <img class="logo-act" src="assets/images/Logo_Grande.png">  
            <div><h1 class="title-act"><span class="underline">JUN</span>GLE <span class="title4-act">TOUR</span></h1></div>
        </div>
    </section> 
    <section name="discount-body"> 
        <div class="container discount-b"> 
            <img src="assets/images/discount/nar.png" class="promotion-stamp">
            <div class="discount-info">
                <div class="cuadro-discount"> 
                    <div class="promotion-text-container">
                    <h1 class="promotion-title">PROMOTION <br> <span>NAME</span></h1> 
                    <p class="promotion-info">Info aquiii</p>
                    </div>
                </div>
            </div> 
            <div>
                <button type="button" class="jungle-act-button"><p>BOOK NOW</p></button>
            </div>
        </div>
                <button type="button" class="discount-button"><span>BOOK NOW</span></button>
    </section> 
</body>
    
</html>