    <section name="discount-intro">
        <div class="container-fluid"> 
            <img class="logo-dis" src="assets/images/Logo_Grande.png">  
            <div><h1 class="title-dis"><span class="underline">DIS</span><span class="title2-dis">COUNTS</span></h1></div>
        </div>
    </section> 
    <section name="discount-body"> 
        <div class="container discount-b"> 
            <img src="assets/images/discount/nar.png" class="promotion-stamp">
            <div class="discount-info">
                <div class="cuadro-discount"> 
                    <div class="promotion-text-container">
                    <h1 class="promotion-title">PROMOTION <br> <span>NAME</span></h1> 
                    <p class="promotion-info">Info aqui</p>
                    </div> 
                    <button type="button" class="discount-button"><span>BOOK NOW</span></button>
                </div>
            </div>
        </div>
    </section> 
