<section name="jungle-act-intro">
    <div class="container-fluid">
        <img class=" triangulo
                    " src="assets/images/tours/T.png">
        <img class="logo-act" src="assets/images/MPE_Logo_HighResolution.png">
        <div>
            <h1 class="title-act">
                <span class="underline">JUN</span>GLE
                <span class="title4-act">TOUR</span>
            </h1>
        </div>
    </div>
</section>
<section name="jungle-act-body">
    <div class="container-fluid scuba-act">
        <div class="scuba-info">
            <div class="cuadro-jungle">
                <h1 class="act-title">JUNGLE
                    <span class="act-title-jungle">TOUR</span>
                </h1>
                <div class="act-nav">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a class="nav-noactive" data-toggle="tab" data-target="#description">Description</a>
                        </li>
                        <li>
                            <a class="nav-noactive" data-toggle="tab" data-target="#included">Included</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <p class="nav-first-title">Jungle Tour
                                <span class="nav-jungle-titleGreen">Adult $69 USD </span>
                                <span class="nav-jungle-titleGreen">Kids $49 USD</span>
                            </p>
                            <p class="nav-description-p">Get to drive your own speedboat on Cancun’s signature snorkel tour. The adventure starts off
                                by steering through the dense mangroves onto Punta Nizuc’s Coral Reef, where you will be
                                able to snorkel and discover the astonishing sea life!</p>
                            <i class="fa fa-calendar nav-description-icon" aria-hidden="true"></i>
                            <p class="icon-text">Daily</p>
                            <br>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <p class="icon-text">9:00 am - 12:00 pm - 15:00 pm</p>
                            <br>
                            <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                            <p class="icon-text">2 hrs</p>
                        </div>
                        <div id="included" class="tab-pane fade ">
                            <div class="panel1 col-sm-6">
                                <p class="nav-included-title">What’s Included:</p>
                                <img src="assets/images/tours/Boat.png" class="icon-img-snorkel">
                                <span class="icon-Boat"></span>
                                <p class="icon-text-speed aux">Speedboat Ride</p>
                                <div class="nav-aux">
                                    <p class="icon-underText">(Up to two pax per boat – there will be an extra charge for asingle rides. Families may
                                        ask for a 4 pax boat).</p>
                                </div>
                                <br>
                                <i class="fa fa-globe" style="display: inline;" aria-hidden="true"></i>
                                <p class="icon-text" style="display:inline-flex;">Bilingual certified
                                    <br style="margin-top: 0px;">instructor</p>
                                <br>
                                <img src="assets/images/tours/Bottle.png" class="icon-img">
                                <p class="icon-text">Bottled water</p>
                                <br>
                                <img src="assets/images/tours/SnorkelGears.png" class="icon-img-snorkel">
                                
                                <p class="icon-text">Snorkel gear</p>
                                <br>
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <p class="icon-text">Locker</p>
                                <br>
                            </div>
                            <div class="panel2 col-sm-6">
                                <p class="nav-included-title">Does not include:</p>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <p class="icon-text">Dock fee</p>
                                <br>
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                <p class="icon-text">Photos</p>
                                <br>
                                <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                <p class="icon-text">Tips</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="jungle-act-button" ng-click="gotoBooking()">
                <span>BOOK NOW</span>
            </button>
        </div>
    </div>
</section>