<section name="scuba-act-intro">
    <div class="container-fluid">
        <img class=" triangulo
                    " src="assets/images/tours/T.png">
        <img class="logo-act" src="assets/images/MPE_Logo_HighResolution.png">
        <div>
            <h1 class="title-act">
                <span class="underline">SCU</span>BA
                <span class="title2-act">DIVING</span>
            </h1>
        </div>
    </div>
</section>
<section name="scuba-act-body">
    <div class="container-fluid scuba-act">
        <div class="scuba-info">
            <div class="cuadro-scuba">
                <h1 class="act-title">SCUBA
                    <span class="act-title-scuba">DIVING</span>
                </h1>
                <div class="act-nav" data-target>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a class="nav-noactive" data-toggle="tab" data-target="#description">Description</a>
                        </li>
                        <li>
                            <a class="nav-noactive" data-toggle="tab" data-target="#included">Included</a>
                        </li>
                        <li>
                            <a class="nav-noactive" data-toggle="tab" data-target="#first">Discover Scuba</a>
                        </li>
                        <li>
                            <a class="nav-noactive" data-toggle="tab" data-target="#exp">Experienced</a>
                        </li>
                        <li>
                            <a class="nav-noactive" data-toggle="tab" data-target="#non">Non Diver</a>
                        </li>
                    </ul>

                    <div class="tab-content r-aux">
                        <div id="description" class="tab-pane fade in active">
                            <p class="nav-description-p">Discover the underwater world at the second largest coral reef in the world! Whether you have
                                never dived before or you are an experienced diver, we have options that will meet your needs
                                and our PADI certified instructors will ensure you have a memorable dive.</p>
                            <i class="fa fa-calendar nav-description-icon" aria-hidden="true"></i>
                            <p class="icon-text">Daily</p>
                            <br>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <p class="icon-text">9:00 am / 13:00 pm</p>
                            <br>
                            <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                            <p class="icon-text">3.30 hrs </p>
                        </div>
                        <div id="included" class="tab-pane fade">
                            <div class="panel1 col-sm-6">
                                <p class="nav-included-title">What’s Included:</p>
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <p class="icon-text">Bilingual certified
                                    <br>instructor</p>
                                <br>
                                <img src="assets/images/tours/Bottle.png" class="icon-img">
                                <p class="icon-text">Bottled water</p>
                                <br>
                                <img class="icon-img-compres" src="assets/images/tours/Compressors.png">
                                <p class="icon-text">Compressors and
                                    <br>scuba gear</p>
                                <br>
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <p class="icon-text">Locker</p>
                                <br>
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                <p class="icon-text">Snack</p>
                            </div>
                            <div class="panel2 col-sm-6">
                                <p class="nav-included-title">Does not include:</p>
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <p class="icon-text">Dock fee</p>
                                <br>
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                <p class="icon-text">Photos</p>
                                <br>
                                <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                <p class="icon-text">Tips</p>
                                <br>
                                <img class="icon-img" src="assets/images/tours/Wetsuit.png">
                                
                                <p class="icon-text">Wetsuit</p>
                                <br>
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                <p class="icon-text">Prescription mask</p>
                            </div>
                        </div>
                        <div id="first" class="tab-pane fade">
                            <p class="nav-first-title">First time divers
                                <span class="nav-first-title2">From $110 USD</span>
                            </p>
                            <p class="nav-first-p">Starting off with a short theory lesson in which our PADI instructor will explain the basic dive
                                procedures and safety signals, followed by a probe immersion in confined water.
                                <br> After which you will be able to enjoy a 1 tank dive at the world famous underwater museum
                                of art (MUSA), and another 1 tank dive at Manchones coral reef, where you will be charmed
                                by the richness of underwater life.</p>
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                            <p class="icon-text">35ft / 9 mts</p>
                        </div>
                        <div id="exp" class="tab-pane fade">
                            <p class="nav-experienced-title">Reef Diving
                                <span class="nav-experienced-title2">From $76 USD</span>
                            </p>
                            <p class="nav-experienced-p">Explore the world’s second largest barrier reef on this two tank open water immersions and admire
                                the fascinating marine life. </p>
                            <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                            <p class="icon-text">55ft /15 mts</p>
                            <p class="nav-experienced-title">Wreck and Reef Diving
                                <span class="nav-experienced-title2">From $85 USD</span>
                            </p>
                            <p class="nav-experienced-p">Explore the C-58 or General Anaya’s shipwreck, which was used during World War II. It was intentionally
                                sunk to a depth of 85 ft/25mts to create an artificial reef and attract a wide variety of
                                sea life, such as eagle rays, turtles, barracudas and more!</p>
                            <br>
                            <p class="nav-experienced-p">The second open water immersion within this tour is to a 55ft/mts reef where you will continue
                                to be amazed by the variety of marine life!</p>
                        </div>
                        <div id="non" class="tab-pane fade">
                            <p class="nav-non-title">Non Diver
                                <span class="nav-non-title2">From $55 USD</span>
                            </p>
                            <p class="nav-non-p">Companions for first time divers (only for MUSA) are welcome to join and will be provided with
                                snorkeling gear</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="scuba-act-button" ng-click="gotoBooking()">
                <span>BOOK NOW</span>
            </button>
        </div>
    </div>
</section>