<a href="#!/activities/scubaDive">
    <section name="scuba-dive">
        <div class="scuba-dive">
            <h1 class="title scuba">Scuba dive</h1>
        </div>
    </section>
</a>
<section name="two-tour">
    <div class="container-fluid inline-block two-body">
        <div class="row">
            <a href="#!/activities/mangroveTour">
                <div class="col-md-6 two-body image nepe">
                    <img class="img-responsive" src="assets/images/tours/Img_MangrooveTour-2X.jpg" alt="">
                    <h1 class="title mangrove">Mangrove Tour</h1>
                </div>
            </a>
            <a href="#!/activities/jungleTour">
                <div class="col-md-6 two-body image nepe">
                    <img class="img-responsive " src="assets/images/tours/Img_JungleTour-2X.jpg" alt="">
                    <h1 class="title jungle">Jungle Tour</h1>
                </div>
            </a>
        </div>
    </div>
</section>
<section name="coming">

    <div class="row">
        <div class="col-md-6 two-body ">
            <img class="img-responsive" src="assets/images/tours/Img_BoatRental.jpg" alt="">
            <h1 class="title boat">Boat Rental</h1>
        </div>
        <div class="col-md-6 two-body">
            <img class="img-responsive" src="assets/images/tours/Img_Aquabus.jpg" alt="">
            <h1 class="title aquabus">Aquabus</h1> 
        </div>
        <div class="layer"> 
            <img style="position:absolute; bottom: 15vw; left: 25vw; width: 70%; height: auto; opacity: .6;" src="assets/images/tours/ComingSoon@2x.png">
        </div>
    </div>
</section>