<nav class="navbar navbar-default visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/home">HOME</a>
                </li>
                <li>
                    <a href="#!/activities">TOURS & ACTIVITIES</a>
                </li>
                <li>
                    <a href="#!/booking">BOOKING</a>
                </li>
                <li>
                    <a>DISCOUNTS</a>
                </li>
                <li>
                    <a data-scroll='' href="#contactSection">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="sidebar animated fadeInLeft hidden-xs">
    <div class="sidebar-menu-header">
        <div class="sidebarHeader">
            <img src="./assets/images/MPE_Logo_Menu.png" id="sidebarLogo" alt="Marina Punta del Este">
        </div>
        <div id="sidebar-div-menu">
            <a href="#!/home">HOME</a>
            <a href="#!/activities">TOURS & ACTIVITIES</a>
            <a href="#!/booking">BOOKING</a>
            <a>DISCOUNTS</a>
            <a data-scroll='' href="#contactSection">CONTACT</a>
        </div>
        <div id="sidebar-div-social">
            <a href="mailto:someone@example.com">
                <img src="assets/images/Btn_Info.png" alt="Info">
            </a>
            <a href="https://www.facebook.com/marinapuntadelestemx/">
                <img src="assets/images/Btn_Facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/marinapuntadelestemx/">
                <img src="assets/images/Btn_Instagram.png" alt="Instagram">
            </a>
        </div>
        <div id="sidebar-div-recomended">
            <a href="">
                <img src="assets/images/Recomemended-on-TripAdvisor.png" alt="Recomended on TripAdvisor">
            </a>
        </div>
    </div>
</div>